# Build More Classification Models

In [2]:
import pandas as pd
cuisines_df = pd.read_csv("../../data/cleaned_cuisines.csv")
cuisines_df.head()

,Unnamed: 0,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,indian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [3]:
cuisines_label_df = cuisines_df['cuisine']
cuisines_label_df.head()

0    indian
1    indian
2    indian
3    indian
4    indian
Name: cuisine, dtype: object

In [4]:
cuisines_feature_df = cuisines_df.drop(['Unnamed: 0', 'cuisine'], axis=1)
cuisines_feature_df.head()

,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,artichoke,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

# Try different classifiers

In [5]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score,precision_score,confusion_matrix,classification_report, precision_recall_curve
import numpy as np

In [6]:
X_train, X_test, y_train, y_test = train_test_split(cuisines_feature_df, cuisines_label_df, test_size=0.3)

In [7]:

C = 10
# Create different classifiers.
classifiers = {
    'Linear SVC': SVC(kernel='linear', C=C, probability=True,random_state=0),
    'KNN classifier': KNeighborsClassifier(C),
    'SVC': SVC(),
    'RFST': RandomForestClassifier(n_estimators=100),
    'ADA': AdaBoostClassifier(n_estimators=100)
    
}

In [8]:
n_classifiers = len(classifiers)

for index, (name, classifier) in enumerate(classifiers.items()):
    classifier.fit(X_train, np.ravel(y_train))

    y_pred = classifier.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average='macro')
    print(f"Accuracy (train) for {name}: {accuracy * 100:.1f}%")
    print(f"Precision (train) for {name}: {precision * 100:.1f}%")
    print(f"{classification_report(y_test,y_pred)}")
    print(f"{confusion_matrix(y_test,y_pred)}\n")

Accuracy (train) for Linear SVC: 81.0%
Precision (train) for Linear SVC: 81.6%
              precision    recall  f1-score   support

     chinese       0.73      0.80      0.77       259
      indian       0.87      0.90      0.89       230
    japanese       0.82      0.74      0.78       262
      korean       0.89      0.74      0.81       232
        thai       0.77      0.87      0.82       216

    accuracy                           0.81      1199
   macro avg       0.82      0.81      0.81      1199
weighted avg       0.81      0.81      0.81      1199

[[208   8  16   8  19]
 [  2 208   5   0  15]
 [ 33   9 195  13  12]
 [ 27   6  17 172  10]
 [ 13   9   5   1 188]]

Accuracy (train) for KNN classifier: 76.4%
Precision (train) for KNN classifier: 78.6%
              precision    recall  f1-score   support

     chinese       0.68      0.74      0.71       259
      indian       0.86      0.83      0.85       230
    japanese       0.70      0.82      0.75       262
      korean       0.95      0.61      0.74       232
        thai       0.74      0.82      0.78       216

    accuracy                           0.76      1199
   macro avg       0.79      0.76      0.77      1199
weighted avg       0.78      0.76      0.76      1199

[[192   7  35   4  21]
 [ 12 191   5   1  21]
 [ 27  10 214   3   8]
 [ 33   7  39 142  11]
 [ 20   7  12   0 177]]

Accuracy (train) for SVC: 82.9%
Precision (train) for SVC: 83.5%
              precision    recall  f1-score   support

     chinese       0.74      0.81      0.77       259
      indian       0.88      0.93      0.90       230
    japanese       0.85      0.77      0.81       262
      korean       0.90      0.76      0.82       232
        thai       0.81      0.89      0.85       216

    accuracy                           0.83      1199
   macro avg       0.83      0.83      0.83      1199
weighted avg       0.83      0.83      0.83      1199

[[209   9   9  12  20]
 [  7 214   3   0   6]
 [ 34   8 202   8  10]
 [ 22   6  18 176  10]
 [ 12   6   5   0 193]]

Accuracy (train) for RFST: 85.2%
Precision (train) for RFST: 85.5%
              precision    recall  f1-score   support

     chinese       0.80      0.83      0.82       259
      indian       0.85      0.94      0.90       230
    japanese       0.87      0.81      0.84       262
      korean       0.89      0.82      0.85       232
        thai       0.87      0.87      0.87       216

    accuracy                           0.85      1199
   macro avg       0.85      0.85      0.85      1199
weighted avg       0.85      0.85      0.85      1199

[[216  12  10  12   9]
 [  2 217   3   1   7]
 [ 25   7 211  10   9]
 [ 19   5  14 190   4]
 [  9  13   5   1 188]]

Accuracy (train) for ADA: 69.6%
Precision (train) for ADA: 72.5%
              precision    recall  f1-score   support

     chinese       0.53      0.78      0.63       259
      indian       0.86      0.77      0.81       230
    japanese       0.78      0.62      0.69       262
      korean       0.73      0.69      0.71       232
        thai       0.72      0.62      0.67       216

    accuracy                           0.70      1199
   macro avg       0.72      0.70      0.70      1199
weighted avg       0.72      0.70      0.70      1199

[[202   2  18  29   8]
 [ 19 178   3   4  26]
 [ 75   2 162  15   8]
 [ 39   2  22 159  10]
 [ 47  23   2  10 134]]